mixin contactUsForm(id, title, content)
  script(src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer)
  script(defer src="form-submission-script.js")
  div.modal(id=id)
    div.modal-header
      div.title= title
      button.close-button(data-close-button) &times;
    div.modal-body

      form(x-data="contactForm" @submit.prevent="getBaseUrl")

        p(x-text="subject.value")
        div.form-field
          label.form-label(for="fullName")
            span Name:
            input#fullName.form-input(type="text" x-model="fullName" required placeholder="Mr./Ms.")

        div.form-field
          label.form-label(for="contact")
            span Contact:
            input#contact.form-input(type="text" x-model="contact" required placeholder="Phone Number")

        div.form-field
          label.form-label(for="subject")
            span Subject:
            input#subject.form-input(type="text" x-model="subject" required placeholder="Subject")

        div.form-field
          label.form-label(for="message")
            span Message:
            textarea#message.form-input(placeholder="Type your message here..." rows="4" cols="50" x-model="message" required)

        div.form-action
          button.submit-btn(type="submit" :disabled="isLoading" x-text="isLoading ? 'Sending...' : 'Submit'") Submit
  div#overlay