mixin contactUsForm(id, title, content)
  div.modal(id=id)
    div.modal-header
      div.title= title
      button.close-button(data-close-button) &times;
    div.modal-body
      form(x-on:submit.prevent="isLoading = true; fetch('/contact-request', { method: 'POST', headers: { 'Content-Type': 'application/json' }, body: JSON.stringify({ fullName, contact, subject, message }) }).then(() => { isLoading = false; showPopup = false; fullName = ''; contact = ''; subject = ''; message = ''; })")

        label.form-label(for="fullName") Name
        input.form-input(type="text" id="fullName" x-model="fullName" required placeholder="Mr./Ms.")

        label.form-label(for="contact") Contact
        input.form-input(type="text" id="contact" x-model="contact" required placeholder="Phone Number")

        label.form-label(for="subject") Subject
        input.form-input(type="text" id="subject" placeholder="Subject" x-model="subject" required)

        label.form-label(for="message") Message
        textarea.form-input(id="message" name="message" placeholder="Type your message here..." rows="4" cols="50" x-model="message" required)

        button.submit-btn(type="submit" x-bind:disabled="isLoading") 
          span(x-show="!isLoading") Send

  div#overlay