doctype html 
doctype
html(lang='en')
  head
    meta(charset='utf-8')
    title Portfolio 
    link(rel="stylesheet", href="style.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" )
    script(src="/js/script.js") 
  body
     
    div.topbar
      a(href="").action-btn Portfolio
      button.action-btn Create 
    
    div.web-body 
      div.content 
        h1 Hey there, awesome people!, I'm Keshav 👋
        p I'm a passionate Full Stack Software Developer 🚀 who loves turning ideas into reality through Web and Mobile applications. 
          | Whether it's crafting sleek user interfaces or building powerful backends, I enjoy every bit of the process. 
          | But hey, tech is just one part of the story!

        p Beyond the code, I love learning new things, exploring new places, and embracing new challenges. 
          | I’m always up for meeting amazing people, exchanging ideas, and gaining fresh perspectives. 
          | Whether it’s sharing ideas, discussing creative solutions, or simply having a great conversation, 
          | I believe every interaction brings something valuable.

        p I’m super excited to connect with all of you, collaborate on exciting projects, and create something impactful together! 
          | Let’s build, learn, and grow! 🚀

        

        div.socials-container 
          div.social-icons 
            a(href="").icons 
              img(src="github.svg"  alt="alt")
            a(href="").icons 
              img(src="gmail.svg"  alt="alt")
            a(href="").icons 
              img(src="instagram.svg"  alt="alt")
            a(href="").icons 
              img(src="linkedin.png"  alt="alt")
        div.buttons
          button.contact Contact Me 
          button.resume Resume

      div.illustration
        img(src="illustration.png", alt="Illustration")



  
    
  
  






